<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%=h @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @event.end_time %>
</p>

<p>
  <span id="rsvp_count"><%= @event.rsvps.size %> people</span> are attending this event.
</p>

<p>
<% if !current_user || !current_user.is_attending?(@event.id) %>
  <div id="new_rsvp">
    <%= button_to("RSVP for this event", rsvps_path(:rsvp => {:event_id => @event.id, :user_id => current_user})) %>
  </div>
<% else %>
  You have RSVP'd for this event. <%= link_to "Manage your event reservations", rsvps_path %><br />
<% end %>
</p><br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
